@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
